@page
@model IndexModel
@{
    ViewData["Title"] = "Celsus";
}

<!-- Start Preloader -->

<div class="preloader">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>

<!-- End Preloader -->
<!-- Start Header -->
<header>
    <!-- Start Nav -->
    <nav class="navbar navbar-default appy-menu" data-spy="appy-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scroll-section" href="index.html"><img src="assets/img/logo3.png" class="img-responsive" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="active"><a class="scroll-section" href="#home_banner">home</a></li>*@
                    <li><a class="scroll-section" href="#about">about</a></li>
                    <li><a class="scroll-section" href="#features">features</a></li>
                    <li>@*<a class="scroll-section" href="#screenshots">screenshots</a>*@</li>
                    <li><a class="scroll-section" href="https://celsus.gitbook.io/project/" target="_blank">support</a></li>
                    <li><a class="scroll-section" href="#price">pricing</a></li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="scroll-section" href="#recent-blog">Recent Blog</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                            </ul>
                        </li>*@
                    <li><a class="scroll-section" href="#contact">contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- End Nav -->
    <!-- Start Home Banner -->
    <section id="home_banner" class="home-slide" style="background-image: url('assets/img/slide-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-250"></div>
                    <h3>Smart Search For PDF Files</h3>
                    <p>Celsus can anaylze your PDF files on different servers and you can easily search in contents and metadata of your files.</p>
                    <a class="btn btn-default" href="https://celsusnet.azurewebsites.net/deploy/celsus.client.application" role="button">Get Demo</a>
                    <a class="btn btn-default" href="#features" role="button">Features</a>
                </div>
                <div class="col-md-6">
                    <div class="mt-200 hidden-sm hidden-xs"></div>
                    <img src="assets/img/slide-mobile-2.png" class="img-responsive center-block" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Banner -->
</header>
<!-- End Header -->
<!-- Start About Section -->
<section id="about" class="padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade text-center">
                <h3>about celsus</h3>
                <div class="space-25"></div>
                <p>
                    Celsus is a handy application which automatically indexes your PDF files,
                    <br>whether they are searhable PDF files or not
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-4 text-center about-box" data-aos="fade-up" data-aos-delay="200">
                <img src="~/assets/img/icon-1green.png" class="img-responsive center-block" alt="">
                <h4>User Firendly</h4>
                <p>It's very easy to use Celsus. You don't need any technical knowledge.</p>
            </div>
            <div class="col-md-4 text-center about-box" data-aos="fade-up" data-aos-delay="400">
                <img src="assets/img/icon-2.png" class="img-responsive center-block" alt="">
                <h4>Search in Contents</h4>
                <p>You can easily find related files with entering any search term</p>
            </div>
            <div class="col-md-4 text-center about-box" data-aos="fade-up" data-aos-delay="600">
                <img src="assets/img/icon-3.png" class="img-responsive center-block" alt="">
                <h4>Premium Support</h4>
                <p>Our support team is always ready to answer your questions</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Start Features Section -->
<section id="features" class="pt-100" style="background-image: url('assets/img/features-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>features</h3>
                <div class="space-25"></div>
                <p>
                    Some of the leading features are listed below.
                    <br>Please read documentation for feature details.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-4 text-right">
                <div class="features-wrapper right-icon">
                    <ul class="list-unstyled">
                        <li>
                            <div class="single-feature" data-aos="fade-right" data-aos-delay="200">
                                <div class="features-icon">
                                    <img src="assets/img/icon-4.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>User Friendy</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi expedita</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="single-feature" data-aos="fade-right" data-aos-delay="400">
                                <div class="features-icon">
                                    <img src="assets/img/icon-5.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>Easy to Setup</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi expedita</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="single-feature" data-aos="fade-right" data-aos-delay="600">
                                <div class="features-icon">
                                    <img src="assets/img/icon-6.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>Support</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi expedita</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center about-box hidden-sm hidden-xs" data-aos="fade-up">
                <img src="http://via.placeholder.com/266x470" class="img-responsive center-block" alt="">
            </div>
            <div class="col-md-4 text-left about-box">
                <div class="features-wrapper left-icon">
                    <ul class="list-unstyled">
                        <li>
                            <div class="single-feature" data-aos="fade-left" data-aos-delay="200">
                                <div class="features-icon">
                                    <img src="assets/img/icon-7.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>Live</h5>
                                    <p>Everyday we add new features to fullfil your requirements</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="single-feature" data-aos="fade-left" data-aos-delay="400">
                                <div class="features-icon">
                                    <img src="assets/img/icon-8.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>Lorem ipsum</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi expedita</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="single-feature" data-aos="fade-left" data-aos-delay="600">
                                <div class="features-icon">
                                    <img src="assets/img/icon-9.png" class="img-responsive" alt="">
                                </div>
                                <div class="features-details">
                                    <h5>Lorem ipsum</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi expedita</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Features Section -->
<!-- Start One Feature Section -->
@*<section class="one-feature pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="600">
                    <img src="http://via.placeholder.com/555x370" class="img-responsive center-block" alt="">
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                    <h2>Make Business Easy With AppY</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <a class="btn btn-default colored" href="#" role="button">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End One Feature Section -->
    <!-- Start One Feature Section -->
    <section class="one-feature pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
                    <h2>Make Business Easy With AppY</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <a class="btn btn-default colored" href="#" role="button">Read More</a>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="600">
                    <img src="http://via.placeholder.com/555x370" class="img-responsive center-block" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End One Feature Section -->
    <!-- Start One Feature Section -->
    <section class="one-feature padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="600">
                    <img src="http://via.placeholder.com/555x370" class="img-responsive center-block" alt="">
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                    <h2>Make Business Easy With AppY</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <a class="btn btn-default colored" href="#" role="button">Read More</a>
                </div>
            </div>
        </div>
    </section>*@
<!-- End One Feature Section -->
<!-- Start Screenshots Section -->
<section id="screenshots" class="padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade text-center">
                <h3>screenshots</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 text-center">
                <div class="screenshots-slider owl-carousel owl-theme">
                    <div class="item"><img src="http://via.placeholder.com/843x474" class="img-responsive" alt=""></div>
                    <div class="item"><img src="http://via.placeholder.com/843x474" class="img-responsive" alt=""></div>
                    <div class="item"><img src="http://via.placeholder.com/843x474" class="img-responsive" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Screenshots Section -->
<!-- Start Testimonial Section -->
<section id="testimonial" class="padding-100" style="background-image: url('assets/img/testimonial-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlaygray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>testimonial</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="col-md-4 text-center">
                            <div class="client-img center-block">
                                <img src="~/assets/img/seyfettinuzuncakmak.jpg" class="img-responsive center-block" alt="">
                            </div>
                            <h4>Mr. Seyfettin Uzuncakmak</h4>
                            <div class="client-rate">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio provident dolores perspiciatis. Dicta temporibus nemo, nam explicabo nihil repellendus laboriosam autem porro est consequuntur, veniam error sit perferendis, iste ex.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 text-center">
                            <div class="client-img center-block">
                                <img src="~/assets/img/hakanozmal.jpg" class="img-responsive center-block" alt="">
                            </div>
                            <h4>Mr. Hakan Ozmal</h4>
                            <div class="client-rate">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio provident dolores perspiciatis. Dicta temporibus nemo, nam explicabo nihil repellendus laboriosam autem porro est consequuntur, veniam error sit perferendis, iste ex.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 text-center">
                            <div class="client-img center-block">
                                <img src="~/assets/img/celalalptunc.jpg" class="img-responsive center-block" alt="">
                            </div>
                            <h4>Celal Alp Tunc, PhD.</h4>
                            <div class="client-rate">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio provident dolores perspiciatis. Dicta temporibus nemo, nam explicabo nihil repellendus laboriosam autem porro est consequuntur, veniam error sit perferendis, iste ex.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->
<!-- Start Countup Section -->
<section id="countup" class="padding-100" style="background-image: url('assets/img/statistics-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>statistics</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="countup-box" data-aos="fade-zoom-in">
                    <img src="assets/img/icon-10.png" class="img-responsive center-block" alt="">
                    <div class="count-num"><span>3000</span></div>
                    <div class="count-name">Download</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="countup-box" data-aos="fade-zoom-in">
                    <img src="assets/img/icon-11.png" class="img-responsive center-block" alt="">
                    <div class="count-num"><span>2500</span></div>
                    <div class="count-name">Line code</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="countup-box" data-aos="fade-zoom-in">
                    <img src="assets/img/icon-12.png" class="img-responsive center-block" alt="">
                    <div class="count-num"><span>255</span></div>
                    <div class="count-name">coffee cups</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="countup-box" data-aos="fade-zoom-in">
                    <img src="assets/img/icon-13.png" class="img-responsive center-block" alt="">
                    <div class="count-num"><span>1500</span></div>
                    <div class="count-name">share</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Countup Section -->
<!-- Start Price Section -->
<section id="price" class="padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade text-center">
                <h3>App Price</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-4">
                <div class="price-table text-center">
                    <div class="space-50"></div>
                    <h4>Starter</h4>
                    <div class="space-50"></div>
                    <div class="cost">
                        <h3>5<span>$</span></h3>
                        <span>per month</span>
                    </div>
                    <div class="space-50"></div>
                    <ul class="list-unstyled">
                        <li>Unlimited Files</li>
                        <li>One Indexer Role</li>
                        <li>e-Mail Support</li>
                    </ul>
                    <div class="space-50"></div>
                    <a class="btn btn-default blue" href="#" role="button">Buy</a>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-table text-center feature">
                    <div class="space-50"></div>
                    <h4>basic</h4>
                    <div class="space-50"></div>
                    <div class="cost">
                        <h3>9<span>$</span></h3>
                        <span>per month</span>
                    </div>
                    <div class="space-50"></div>
                    <ul class="list-unstyled">
                        <li>All Starter Features</li>
                        <li>Three Indexer Role</li>
                        <li>e-Mail Support 7/24</li>
                    </ul>
                    <div class="space-50"></div>
                    <a class="btn btn-default colored" href="#" role="button">Buy</a>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-table text-center">
                    <div class="space-50"></div>
                    <h4>unlimited</h4>
                    <div class="space-50"></div>
                    <div class="cost">
                        <h3>15<span>$</span></h3>
                        <span>per month</span>
                    </div>
                    <div class="space-50"></div>
                    <ul class="list-unstyled">
                        <li>All Basic Features</li>
                        <li>Unlimited Indexer Role</li>
                        <li>Premium Support</li>
                    </ul>
                    <div class="space-50"></div>
                    <a class="btn btn-default blue" href="#" role="button">Buy</a>
                    <div class="space-50"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Price Section -->
<!-- Start Video Section -->
<section id="video" class="padding-100" style="background-image: url('assets/img/video-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>Watch video</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-12 text-center">
                <a href="http://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity>
                    <img src="assets/img/icon-14.png" class="img-responsive center-block" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->
<!-- Start Team Section -->
@*<section id="team" class="padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heade text-center">
                    <h3>Meet the Team</h3>
                    <div class="space-25"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        <br>sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="space-50"></div>
                </div>
                <div class="col-md-12">
                    <div class="team-slider owl-carousel owl-theme">
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="person">
                                <img src="http://via.placeholder.com/420x525" class="img-responsive" alt="">
                                <div class="person-info overlay">
                                    <div class="info-bottom">
                                        <h4>Jonh Doe</h4>
                                        <h6>Front-end Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Proin sodales.</p>
                                        <ul class="list-inline social-icons">
                                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Team Section -->
<!-- Start Download Section -->
<section id="download" class="padding-100" style="background-image: url('assets/img/download-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlaygray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>Download</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="300">
                <a class="btn btn-default" href="#" role="button"><i class="fa fa-windows" aria-hidden="true"></i> <span>For Windows</span></a>
            </div>
            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="300">
                <a class="btn btn-default" href="#" role="button"><i class="fa fa-windows" aria-hidden="true"></i> <span>For Windows</span></a>
            </div>
            <div class="col-md-4 text-center" data-aos="fade-left" data-aos-delay="300">
                <a class="btn btn-default" href="#" role="button"><i class="fa fa-windows" aria-hidden="true"></i> <span>For Windows</span></a>
            </div>
        </div>
    </div>
</section>
<!-- End Download Section -->
<!-- Start Recent Blog Section -->
@*<section id="recent-blog" class="padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heade text-center">
                    <h3>recent blog</h3>
                    <div class="space-25"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        <br>sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="space-50"></div>
                </div>
                <div class="col-md-12">
                    <div class="recent-blog-slider owl-carousel owl-theme">
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="http://via.placeholder.com/650x500" class="img-responsive" alt="">
                                    <div class="overlay"></div>
                                    <div class="blog-info">
                                        <h3><a href="single-blog.html">lorem ipsum dolor sit amet dolor</a></h3>
                                        <ul class="list-inline meta">
                                            <li><a href="#">John Doe</a></li>
                                            <li><a href="#">1 October</a></li>
                                            <li><a href="#">25 comments</a></li>
                                            <li><a href="#">37 Views</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details">
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. lorem ipsum dolor sit amet...</p>
                                    <a class="btn btn-default blue" href="single-blog.html" role="button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="space-50"></div>
                    <a class="btn btn-default colored" href="blog.html" role="button">View All</a>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Recent Blog Section -->
<!-- Start Call To Action Section -->
@*<section id="call-to-action" class="padding-100" style="background-image: url('http://via.placeholder.com/1920x1396'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 section-heade white">
                    <h3>Call to action</h3>
                    <div class="space-25"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="space-25"></div>
                    <a class="btn btn-default" href="#" role="button">discover more</a>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Call To Action Section -->
<!-- Start FAQ Section -->
<section id="faq" class="padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade text-center">
                <h3>faq</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
                <div class="space-50"></div>
                <div class="space-50"></div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading_1">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_1">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tenetur dicta commodi, totam atque fugit ut magnam laboriosam dignissimos dolorum minus quia sed distinctio in mollitia laborum sint delectus accusamus!
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading_2">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                                    Lorem ipsum dolor sit amet?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_2">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tenetur dicta commodi, totam atque fugit ut magnam laboriosam dignissimos dolorum minus quia sed distinctio in mollitia laborum sint delectus accusamus!
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading_3">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="true" aria-controls="collapse_2">
                                    Lorem ipsum dolor sit amet?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_3">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tenetur dicta commodi, totam atque fugit ut magnam laboriosam dignissimos dolorum minus quia sed distinctio in mollitia laborum sint delectus accusamus!
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading_4">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_4" aria-expanded="true" aria-controls="collapse_2">
                                    Lorem ipsum dolor sit amet?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_4">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tenetur dicta commodi, totam atque fugit ut magnam laboriosam dignissimos dolorum minus quia sed distinctio in mollitia laborum sint delectus accusamus!
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="600">
                <img src="http://via.placeholder.com/300x730" class="img-responsive center-block" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Section -->
<!-- Start Contact Section -->
<section id="contact" class="padding-100" style="background-image: url('assets/img/contact-bg.jpg'); background-size: cover; background-position: 50% 50%;background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heade white text-center">
                <h3>get in touch</h3>
                <div class="space-25"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    <br>sed do eiusmod tempor incididunt ut labore.
                </p>
                <div class="space-50"></div>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" id="yourname" placeholder="Enter Your Name" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="youremail" placeholder="Enter Your Email" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="yoursubject" placeholder="Enter Your Subject" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="yourmessage" rows="6" placeholder="Enter Your Message" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-default center-block">submit</button>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled contact-info">
                    <li>
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">Cyberpark C Block Bilkent Ankara TURKEY</div>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">+90 312 265 09 15</div>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text"><a href="mailto:info@celsusapp.com">info@celsusapp.com</a></div>
                    </li>
                </ul>
                <ul class="list-inline social-icons">
                    @*<li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>*@
                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    @*<li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>*@
                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    @*<li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>*@
                    @*<li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>*@
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
<!-- Start Subscribe Section -->
@*<section id="subscribe" class="padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 section-heade">
                    <h3>Subscribe</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        <br>sed do eiusmod tempor incididunt ut labore.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="space-25"></div>
                    <form action="#">
                        <div class="subcribe-form">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Your Email" required>
                            <button class="btn btn-default" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Subscribe Section -->
<!-- Start Footer Section -->
<footer class="text-center">
    <p>Copyright © 2018 Seneka</p>
</footer>
<!-- End Footer Section -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Counterup JS -->
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.js"></script>
<!-- AOS JS -->
<script src="assets/js/aos.js"></script>
<!-- lity JS -->
<script src="assets/js/lity.min.js"></script>
<!-- Our Main JS -->
<script src="assets/js/main.js"></script>

